<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">

<body>
	<div layout:fragment="contents">
		<main class="top-contents">
			<div class="top-wrapper">
				<h2>create</h2>
				<form method="post" th:action="@{/user}" th:object="${form}">
					<div class="row">
						<label for="user_email">Email</label>
						<input type="text" class="input-text" th:field="*{email}" />
					</div>
					<p th:if="${#fields.hasErrors('email')}" class="error-message" th:errors="*{email}"></p>

					<div class="row">
						<label for="user_password">Password</label>
						<input class="input-text" type="password" th:field="*{password}" />
					</div>
					<p th:if="${#fields.hasErrors('password')}" class="error-message" th:errors="*{password}">
					</p>

					<div class="row">
						<label for="user_password_confirmation" class="row-password">
							Password
							<span>(確認)</span></label>
						<input type="password" class="input-text" th:field="*{passwordConfirmation}" />
					</div>
					<p th:if="${#fields.hasErrors('passwordConfirmation')}" class="error-message"
						th:errors="*{passwordConfirmation}"></p>
					<input type="submit" value="登録" class="top-button" />
				</form>
			</div>
		</main>
	</div>
</body>

</html>