<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout}">
<body>
	<div layout:fragment="contents">
		<main class="top-contents">
			<h1>
				<div class="logo">
					<span class="numerator">bucket</span>
					<span class="denominator">100</span>
				</div>
			</h1>
			<div class="top-button-container">
				<a class="top-button" href="/users/new">create</a>
				<a class="top-button" href="/login">Login</a>
			</div>
		</main>
	</div>
</body>

</html>