@charset "UTF-8";

body {
	max-width: 400px;
	width: 100%;
	margin: 20px auto;
	background-color: white;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

.task-score {
	color: #88f1d6;
	text-align: center;
	font-size: large;
	font-weight: bold;
	letter-spacing: 2px;
}

.form-inner {
	padding: 10px;
	display: flex;
	margin: auto;
	width: fit-content;
	gap: 10px;
}

#footer-container {
	background-color: white;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	border-top: 2px solid white;
}

#tasks {
	text-align: center;
	margin: 30px auto;
	padding-bottom: 30px;
}

header {
	margin: 0 15px;
	display: flex;
	justify-content: space-between;
}

.task-button {
	width: 100%;
	color: white;
	cursor: pointer;
	background-color: #88f1d6;
}


.input-form {

	color: white;
	background-color: #88f1d6;
	border-radius: 5px;
}

.bi {
	color: #88f1d6;
}

.task-button.is-done {
	color: pink;
	background-color: white;
}

.task-row {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 10px;
}

input,
textarea,
button {
	background-color: transparent;
	appearance: none;
	border: none;
	resize: none;
	outline: none;
}

.edit-task {
	margin: 5px;
}

.edit-task textarea {
	width: 100%;
	border: solid pink;
	border-radius: 5px;
}

.header-edit {
	justify-content: flex-end;
}

.header-menu {
	justify-content: flex-start;
}

.header-menu .bi {
	stroke: #88f1d6;
	stroke-width: 2px;
	fill: white;
	paint-order: stroke fill;
}

.menu-row {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-top: 2px solid #88f1d6;
	border-bottom: 2px solid #88f1d6;
	margin: 30px auto;
}

.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 28px;
	background-color: #ccc;
	border-radius: 100px;
	transition: background-color 0.3s;
	text-decoration: none;

}

.slider {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 22px;
	height: 22px;
	background-color: white;
	border-radius: 50%;
	transition: transform 0.3s;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.switch.active {
	background-color: pink;
}

.switch.active .slider {
	transform: translateX(22px);
}

.toggle-container {
	display: flex;
	align-items: center;
	gap: 10px;
}